html{
  font-size: 62.5%;
  /*line-height: 1.5;*/
  /*#6fda44*/
  /*#008329*/

}
body{
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  position: relative;
}
ul,li{
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,h2,h3,h4,h5,h6,p{
  margin: 0;
}
a{
  text-decoration: none;
}
h2 {
  font-size: 4rem;
  text-transform: capitalize;
  font-weight: 900;
  color: #1e1c1c;
  margin-bottom: 2.5rem;
}
h3 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.4;
}
/*=====================================*/
/*      5. Header area css start       */
/*=====================================*/


a {
    color: #3F3F3F;
    display: inline-block;
    font-size: 15px;
    margin: auto;
    padding: 12px 32px 12px 82px;
    position: relative;
    text-decoration: none;
}
a .label,
a .icon-arrow {
    backface-visibility: hidden;
    transform: translateZ(0);
    perspective: 1000;
}

a .label {
    display: inline-block;
    transition: transform .5s cubic-bezier(0.86, 0, 0.07, 1);
}

a .icon-arrow {
    fill: red;
    height: 10px;
    top: 25px;
    transition: transform .5s cubic-bezier(0.86, 0, 0.07, 1), opacity .4s cubic-bezier(0.86, 0, 0.07, 1);
    width: 30px;
}

a .icon-arrow.before {
    left: 32px;
    margin-right: 15px;
    position: absolute;
    transform-origin: left center;
}

a .icon-arrow.after {
    margin-left: 15px;
    opacity: 0;
    position: absolute;
    right: 32px;
    transform: translateX(75%) scaleX(0.1);
    transform-origin: right center;
}

a:hover .label {
    transform: translateX(-52px);
}

a:hover .icon-arrow.before {
    opacity: 0;
    transform: translateX(-75%) scaleX(0.1);
}

a:hover .icon-arrow.after {
    opacity: 1;
    transform: translateX(0) scaleX(1);
}

a:active {
    border-color: #FD6154;
    color: #FD6154;
}

a:active .icon-arrow {
    fill: #FD6154;
}